<div id="toolbar">
    <h1 class="customTitle">Nightscout</h1>

    <%if (type === 'retro') { %>
        <div id="buttonbar" role="navigation" aria-label="Menu" >
            <a id="retroButton" class="tip" original-title="Exit Retro Mode" aria-label="Exit Retro Mode" href="/" style="color: #ff4444; margin-right:10px;"><i class="icon-back-in-time"></i></a>
            <a id="nextDay" class="tip" original-title="Next day" aria-label="Next Day" href="#"><i class="icon-right-circled"></i></a>
            <a id="retroMenu" class="tip" original-title="Retro Browsing Menu" aria-label="Retro Browsing Menu" href="#"><i class="icon-calendar"></i></a>
            <a id="prevDay" class="tip" original-title="Previous day" aria-label="Previous Day" href="#"><i class="icon-left-circled"></i></a>
        </div>
    <% } else if (type === 'report') { %>
        <span class="reportLabel translate">Nightscout reporting</span>
        <a href="/" class="closeButton button-close"><span>X</span></a>
    <% } else if (type !== 'index') { %>
        <a href="/" class="closeButton button-close"><span>X</span></a>
    <% } %>

    <%if (type === 'food') { %>
      <div id="buttonbar">
        <b> <span class="translate">Status</span>:</b> <span id="fe_status" class="translate">Not loaded</span>
      </div>
    <% } %>
    <%if (type === 'profile') { %>
      <div id="buttonbar">
        <b> <span class="translate">Status</span>:</b> <span class="pe_status translate">Not loaded</span>
      </div>
    <% } %>
    <%if (type === 'index') { %>
        <div id="buttonbar" role="navigation" aria-label="Menu" >
            <a id="retroButton" class="tip" original-title="Retro Browsing" aria-label="Retro Browsing" href="/retro"><i class="icon-back-in-time"></i></a>
            <a id="boluscalcDrawerToggle" aria-label="Bolus Wizard" href="#" style="display:none;"><i class="icon-calc"></i></a>
            <a id="treatmentDrawerToggle" aria-label="Care Portal" href="#" style="display:none;"><i class="icon-plus"></i></a>
            <a id="lockedToggle" aria-label="Token needed for Care Portal" href="#" style="display:none;"><i class="icon-lock"></i></a>
            <a id="agpButton" class="tip" original-title="AGP Report" aria-label="AGP Report" href="#"><i class="icon-chart-line"></i></a>
            <a id="drawerToggle" class="tip" original-title="Settings" aria-label="Settings" href="#"><i class="icon-menu"></i></a>
            <a id="testAlarms" class="tip" original-title="Alarm Test / Smartphone Enable" aria-label="Alarm Test / Smartphone Enable" href="#"><i class="icon-volume"></i></a>
            <a id="editbutton" aria-label="Edit Mode" href="#" style="display:none;"><i class="icon-edit"></i></a>
            <a id="adminnotifies" aria-label="Admin notifications" href="#" style="display:none;"><i class="plugicon-notifies" style='color: #c91515'></i></a>
        </div>
    <% } %>
</div>

<%if (title && type !== 'report') { %>
    <div class="toolbar-title">
        <h2 class="translate"><%= title %></h1>
    </div>
<% } %>